.cell{
  background-color: black;
  width: 100px;
  height: 100px;
  margin: 5px;
  font-size: 40px;
  color: white;
  text-align: center;
  line-height: 100px;
}
#main{
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}